*{
    margin: 0;
    padding: 0;
}


.ul .li.a{
    color: white;
}
.nav-item .nav-link{
    color: white;
    font-size: 18.5px;
    padding: 5px;
    letter-spacing: 1px;


}
.dropdown:hover .dropdown-menu{
    display: block;

}
.dropdown-item{
    font-size: 20px;
    margin-top: 15px;
}

.dropdown-menu li a{
    color: #ff8800;
}

.navbar-nav{
    margin-right: 40px;
}
.nav-link{
    margin-right: 22px;
    text-transform:uppercase ;

}

.navbar-brand img{
    margin-left: 55px;
}
.icon-1 {
    color: rgb(255, 255, 255);
    transition: transform 0.3s, color 0.3s;
}
.icon-1:hover {
    color:rgb(248, 142, 3);
    transform: scale(1.2);
}

.nav-item .nav-link:hover{
    color: #ff8800;
}




section img{
    height: 495px;
    overflow: visible;
}
.about{
    border-radius: 8px;
    width: 750px;
    height: 255px;
    padding: 20px;
    padding-top: 22px;
    position: absolute;
    top: 28%;
    margin-left: 40px;
    background-color: rgb(142, 146, 145);
    color: white;
    text-align: center;
    background: rgba(18, 18, 18, 0.5); /* Grey transparent background *
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Soft shadow */
    backdrop-filter: blur(1px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
}

.about-btn1{
    width: 330px;
    height: 62px;
    border-radius: 9px;
    margin-top: 13px;
    margin-right:10px ;
    border-style: none;
    color: white;
    background-color: rgb(248, 142, 3);
    font-size: 20px;
    font-weight: 700;
}
.about-btn2{
    width: 330px;
    height: 62px;
    border-radius: 9px;
    margin-top: 13px;
    margin-right:10px ;
    border-style: none;
    color: white;
    background-color: rgb(248, 142, 3);
    font-size: 20px;
    font-weight: 700;
}
.about-btn2:hover{
    background-color: rgb(27, 26, 26);
    color: white;
    border: 0;
}
.media{
    margin-top: 25px;
    text-align: center;
}
.media img{
    height: 75px;
    width: 1100px;
    display: inline-block;
}
.explore{
    min-height: 610px; 
    padding-bottom: 20px; 
}

section h1,h2{
    margin-top: 62px;
    font-size: 45px;
    text-align: center;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 28px;
}

.item {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item img{
    cursor: pointer;
    height: 255px;
    width: 385px;
}
.item p{
    cursor: pointer;
    margin-top: 50px;
    font-size: 22px;
    font-weight: 700;
    color:  rgb(248, 142, 3);
}
.blog-btn{
    width: 304px;
    height: 62px;
    border-radius: 6px;
    margin-top: 70px;
    margin-left:477px;
    border-style: none;
    color: white;
    background-color: rgb(248, 142, 3);
    font-size: 20px;
    font-weight: 700;
}
.blog-btn:hover{
    background-color: rgb(27, 26, 26);
    color: white;
    border: 0;
}

.main-body{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.body-cont img{
    cursor: pointer;
    height: 255px;
    width: 385px;
    margin-top: 35px;
}
.body-cont h3{
    font-size: 30px;
    color:  rgb(248, 142, 3);
    font-weight: 650;
    margin-top: 70px;
}
.body-cont p{
    font-size: 20px;
    line-height: 1.6;
}



.utub{
    width: 100%;
    height: 650px;
}
.utub-in{
    text-align: center;
    margin-bottom: 15px;
}
.utub-h2{
    font-size: 40px;
    margin-top: 55px;
    font-weight: 700;
}
.utub-h-2{
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 40px;
}

.utube{
    display: flex;
}
.utube-in{
    width: 50%;
    height: max-content;
}
.utube-p1{
    font-size: 38px;
    font-weight: 700;
    margin-top:80px;
    margin-left: 220px;

}
.utube-p2{
    font-size: 22px;
    margin-left: 125px;
}

.utube span{
    color: orange;
}
.utube span:hover{
    color: black;
}
.utube-in img{
    margin-left: 15px;
    margin-top: 59px;
}
.button{
    background-color: white;
    color: #f80;
    border: solid 2px #f80;
    width: 300px;
    height: 70px;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 7px;
}
.button:hover{
    background-color: rgb(27, 26, 26);
    color: white;
    border: 0;
}
.img-af{
    width: 630px;
    height: 350px;
}








footer{
    background-color: black;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.footer-in{
    
    width: 30%;
    height: 390px;
    text-align: center;
}

a:hover{
    color: orange;
}
.footer h4{
    margin-top: 50px;
    font-size: 36px;
    font-weight: 750;
    color: white;
}
.a{
    text-decoration: none;
    color: white;
}
.a:hover{
    text-decoration: underline;
}

.svg i{
    font-size: 34px;
    margin-left: 15px;
    margin-top: 15px;
}
.svg i:hover{
    scale: 1.09;
}

.footer h5{
    margin-top: 25px;
    font-weight: 400;
}
 
.footer-out{
    font-size: 17px;
    text-align: center;
    padding-bottom: 20px;    
}
.b{
    text-decoration: none;
    color: white;
}
.b:hover{
    text-decoration: underline;
}
span{
    color: #606060;
}

